<div id="list-header" class="assessment list-header">
  <div class="header-inner">
    <div class="assessment-count">
      <span class="title">評価数</span>
      <span class="count"><%= assessment.count %>件</span>
    </div>
  </div>
</div>