<div id="follow-status">
  <div class="following">
    <span class="title">フォロー中</span>
    <span class="count"><%= user.followings.count %></span>
  </div>
  <div class="follower">
    <span class="title">フォロワー</span>
    <span class="count"><%= user.followers.count %></span>
  </div>

</div>