<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<%= @user.nickname %>
<%= link_to "Edit", user_edit_path(@user.username) %>
<% if @post.empty? %>
  <span>Empty.</span>
<% else %>
  <table>
    <% @post.each do |post| %>
      <tr>
        <td class="title"><%= link_to post.title, post_show_path(@user.username, post.id) %></td>
      </tr>
    <% end %>
  </table>
<% end %>