<div id="post-list-header">
  <div class="header-inner">
    <div class="post-count">
      <span class="title">投稿数</span>
      <span class="count"><%= post.count %>件</span>
    </div>
  </div>
</div>