<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<%= @post.title %>
<%= @post.user.username %>
<%= @post.game.title %>
<%= render partial: 'favorites/favorite_form', :locals => { post: @post } %>