body {
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  background: #FAFAFA
}

header {
  width: 100%;
  height: 70px;
  background: -moz-linear-gradient(left, #6A5ACD 10%, #CC99FF, #E9967A);
  background: -webkit-linear-gradient(left, #6A5ACD 10%, #CC99FF, #E9967A);
  background: linear-gradient(to right,  #6A5ACD 10%, #CC99FF, #E9967A);
}

h1 {
  width: 50%;
  float: left;
}

h2 {
  font-size: 20px;
  margin: 20px;
}

#gnav {
  ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding-right: 50px;
  }
  li a {
    color: #EEEEEE;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
  }
  li:after {
    content: '|';
    color: #EEEEEE;
    padding-left: 10px;
    padding-right: 10px;
  }
  li:last-child:after {
    content: '';
    padding-left: 0px;
  }
}

.wrapper {
  width: 950px;
  margin: 0 auto;
}